@page "/"
@rendermode InteractiveServer
<!-- Menu -->

<h1>Menu de seleccion de pizzas</h1>

@foreach (var pizza in Estado.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            @pizza.Nombre
        </div>
        <div class="col text-right">
            @($"{pizza.Precio:0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@PicanteImagenes(pizza.Picante)"
                 alt="@pizza.Picante" />
        </div>
        <div class="col">
            <button class="btn btn-success pl-4 pr-4"
                @onclick="@(() => AgregarCesta(pizza))">
                Add
            </button>
        </div>
    </div>
}

<!-- Menu final -->
<!-- Cesta de compras -->
@if (Estado.Cesta.Pedidos.Any())
{
    <h2 class="">Orden actual</h2>

    @foreach (var (pizza, pos) in Estado.Cesta.Pedidos.Select((id, pos) => (Estado.Menu.GetPizza(id), pos)))
    {
        <div class="row mb-2">
            <div class="col">
                @pizza.Nombre
            </div>
            <div class="col text-right">
                @($"{pizza.Precio:0.00}")
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-danger"
                @onclick="@(() => RemoverCesta(pos))">
                    remove
                </button>
            </div>
        </div>

    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"> total:</div>
        <div class="col text-right font-weight-bold">
            @($"{Estado.PrecioTotal:0.00}")
        </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
}

<h2>Ingresar sus datos</h2>

<EditForm Model="@Estado.Cesta.Cliente" OnValidSubmit="PlaceOrder">
    <DataAnnotationsValidator />

    <fieldset>

        <div class="row mb-2">
            <label class="col-2" for="nombre">Nombre:</label>
            <input class="form-control col-6 valid" id="nombre" @bind="Estado.Cesta.Cliente.Nombre" />
            <div class="validation-message">Es necesario su nombre</div>
        </div>

        <div class="row mb-2">
            <label class="col-2" for="calle">Calle:</label>
            <input class="form-control col-6 modified valid" id="calle" @bind="Estado.Cesta.Cliente.Calle" />
            <div class="validation-message">Es necesario escribir una calle para el envio</div>
        </div>

        <div class="row mb-2">
            <label class="col-2" for="ciudad">Ciudad:</label>
            <input class="form-control col-6 modified valid" id="ciudad" @bind="Estado.Cesta.Cliente.Ciudad" />
            <div class="validation-message">Es necesaria una ciudad para el envio</div>
        </div>
        <div class="row mb-2">
            <button class="mx-auto w-25 btn btn-success" @onclick="PlaceOrder">Verificar</button>
        </div>
    </fieldset>
</EditForm>

<!-- Final de la entrada de cliente -->
@Estado.ToJson()

@code {
    private Estado Estado { get; } = new Estado();

    protected override void OnInitialized()
    {
        Estado.Menu.Agregar(new Pizza(1, "Pepperoni", 8.99M, Picante.Picante));
        Estado.Menu.Agregar(new Pizza(2, "Margarita", 7.99M, Picante.Nada));
        Estado.Menu.Agregar(new Pizza(3, "Diablo", 9.99M, Picante.Caliente));
    }

    private string PicanteImagenes(Picante picante) => $"Imagenes/{picante.ToString().ToLower()}.png";

    private void AgregarCesta(Pizza pizza) => Estado.Cesta.Add(pizza.Id);

    private void RemoverCesta(int pos) => Estado.Cesta.RemoveAt(pos);

    private void PlaceOrder()
    {
        Console.WriteLine("Placing order");
    }
}